@font-face {
    font-family: Boldonse;
    src: url(fonts/Boldonse-Regular.ttf)
  }
  
  #logo{
    font-family: Boldonse;
        border-bottom: .5rem solid #3c05ff;
        border-top: .5rem solid #52c196;
        margin-bottom: 1.80rem;
        margin-top: 1.80rem;
        padding: 1.2rem 0;
      }

      nav.menu {
        background-color:#575153;
        display:flex;
        justify-content:space-evenly;
        padding:6px 0
      }
